body{
    background-color: #4881ea;
    padding: 2%;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
img{
    position: relative;
    width: 155px;
    height: 150px;
}
.boxes{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box1{
    background-color: #ffd700;
    width: auto;
    height: 100%;
    padding: 5%;
}
.box2{
    background-color: #ffd700;
    width: auto;
    height: 100%;
    padding: 5%;
}
.box3{
    background-color: #ffd700;
     width: auto;
    height: 100%;
    padding: 5%;
}
